# Python 環境関連
venv/
__pycache__/
*.py[cod]
*$py.class

# 環境変数ファイル
.env

# Google API 認証関連
credentials.json
token.pickle
token_b64.txt

# ビルド / 配布物
build/
dist/
*.egg-info/
*.egg
.eggs/

# キャッシュ / ログ
*.log
*.tmp
*.cache
*.coverage
coverage.xml
.pytest_cache/
.tox/
.nox/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db